$apple-blossom: #ac4142;
$alto: #d8dad9;
$bouquet: #64c5f1;
$chelsea-cucumber: #fcf271;
$cod-grey: #615961;
$coniferback: #b5e853;
$conifer: #32D97B;
$dove-grey: #666;
$gallery: #fdfde5;
$grey: rgb(100, 97, 141);
$gulf-stream: #75b5aa;
$hippie-blue: #6ed0fa;
$potters-clay: #8f5536;
$rajah: #f4bf75;
$raw-sienna: #63cf68;
$silver-chalice: rgb(133, 133, 133);
$Tommy: rgb(32, 34, 41);
$bouques: #ff83e6